*.log

.gradle
/build

# Android Studio
*.iml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/libraries
/.idea/dictionaries

/local.properties
/app/src/main/assets/about.html
/app/src/main/assets/changelog.html
