/.idea/caches/build_file_checksums.ser
/.idea/encodings.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/build
/captures
.gradle

local.properties
.DS_Store
.externalNativeBuild

*.iml
