<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.eightbitboy.minsim">

    <application
        android:name=".Minsim"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Minsim">
        <activity
            android:name=".activities.MainActivity"
            android:label="${appName}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--TODO Fix the label, make it dynamic!-->
        <activity
            android:name=".activities.HtmlActivity"
            android:label="@string/title_activity_changelog"
            android:theme="@style/Theme.Minsim"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="<fabric_api_key>"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
